@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* Resets */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'PT Sans', sans-serif;
}

body {
    background: #e9ebee;
}

main, .header-content {
    width: 100%;
}

header {
    background: #3b5998;
    color: white;
}

.header-content {
    overflow: hidden;
    height: 70px;
}

.header-content > * {
    float: left;
}

.header-content img {
    width:50px;
    height:50px;
    margin-top:10px;
}

.header-text {
    margin-left: 10px;
}

.header-text h1 {
    margin-top: 7px;
}

.header-text p {
    margin-top: -9px;
}

.main-content {
    margin-top:3px;
    background: white;
    border-color: #e5e6e9;
    border-width:1px;
    border-style: solid;
    border-radius: 5px;
}

.composition-user, .composition-send {
    background: #f6f7f9
}

.composition-user {
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}

.composition-content {
    padding: 5px;
}

.composition-send {
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
}

.post-submit {
    background: #3b5998;
    color: white;
    padding: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
}

.composition-box .post-text {
    resize: none;
    width: 100%;
    height: 75px;
}

.post-body {
    overflow:hidden;
}

.post .profile-picture {
    float: left;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

.post .name {
    float: left;
    margin-left: 10px;
}

.post .post-text {
    clear: both;
}

.post {
    padding: 10px;
}

@media screen and (min-width: 1000px) {
    main, .header-content {
        width: 800px;
        margin: auto;
    }
}
